#project ignores.
sTest.txt
test_directory/processed.txt
test_directory/errored.txt
test_directory/out/
test_directory/duplicates.txt
process.log
xtender-xtractor
bin/

#Editor ignores.
*.swp
*.swo


